	<ion-modal-view style="min-height:200px;">
	<ion-header-bar>
		<h1 class="title">Add Friend</h1>
		<div class="buttons">
		  <button class="button button-clear" ng-click="closeFriend()">Close</button>
		</div>
	</ion-header-bar>
	 <ion-content ng-controller="MenuCtrl">
	 <div class="buttons row row center">
	    <button ng-if="$storage.islog" class="button button-clear col col-center" ng-click="addFriend(addFriendModal.data)">Add {{addFriendModal.data.user.pseudo}} as your friend ?</button>
	    <button ng-if="!$storage.islog" class="button button-clear col col-center" ng-click="openLogin();closeFriend()">Please log in</button>
	 </div>
	</ion-content>
</ion-modal-view>