<ion-modal-view style="min-height:300px;">
  <ion-header-bar>
    <h1 class="title">Add_Friends</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddFriends()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="SignCtrl">
    <form name="loginForm" data-ng-click="addFriends()">
      <div class="list">
        <label class="item item-input" style="border-bottom-width: 0px;">
          <span class="input-label">Pseudo de votre ami</span>
          <input id="pseudo" style="margin-right:20px;" type="text" data-ng-model="registerData.pseudo" placeholder="Pseudo"" name="Pseudo" data-ng-minlength="3" data-ng-maxlength="24">
        </label>
        <label class="item" style="border-bottom-width: 0px;">
          <button class="button button-block button-positive" type="submit">Recherchez</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>