
<ion-modal-view style="min-height:300px;">
  <ion-header-bar>
    <h1 class="title">Pleace enable your GPS</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGeo()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="MenuCtrl">
	  <div class="list">
      <label class="item item-input" style="border-top-width: 0px;">
		    <a class="button button-icon icon ion-refresh" ng-click="refreshMap();closeGeo()"></a>
      </label>
    </div>
  </ion-content>
</ion-modal-view>