<ion-side-menus enable-menu-with-back-views="false" ng-controller="MenuCtrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark" >
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <!-- <a class="button button-icon icon ion-ios-arrow-down" ng-click="openPopoverMenu($event)"></a> -->
        <a class="button button-icon icon ion-android-more-vertical" ng-click="openPopoverMenu($event)"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title" ng-if="!$storage.isProfilView">Friends</h1>
      <h1 class="title" ng-if="$storage.isProfilView">{{$storage.pseudo}}</h1>
      <a class="button button-icon icon ion-android-person" ng-if="$storage.islog" ng-click="showMyHistory()"></a>
    </ion-header-bar>
    <ion-content overflow-scroll=”true”>
      <ion-refresher
        on-refresh="refreshMenuData()"
        center>
      </ion-refresher>
      <ion-list>
        <ion-item menu close ng-if="!$storage.isProfilView" class="row">
          <label class="item-input col col-90">
            <input type="search" id="search" placeholder="Search a friend" ng-model="$storage.dataSearch.search" ng-focus="$storage.searchFocused = true" ng-blur="$storage.searchFocused = false" ng-change="onSearchInput($storage.dataSearch)" class="full-width" close>
          </label>
          <label class="item-input col col-10">
            <button ng-if="$storage.dataSearch.search.length" class="button button-icon ion-android-close input-button button-small" ng-click="onSearchCancel($storage.dataSearch)"></button>
          </label>
        </ion-item>
        <div ng-if="!$storage.isProfilView" ng-repeat="user in filterUserList(userlist) track by $index">
          <ion-item class="item-stable row row-center"
                    ng-click="toggleUser(user)"
                    ng-class="{active: isUserShown(user)}">
              <!-- <i class="icon" ng-class="isUserShown(user) ? 'ion-minus' : 'ion-plus'"></i> -->
            &nbsp;
            <label class="col col-10">
              <i ng-if="user.user.isLog" class="icon ion-record balanced"></i>
              <i ng-if="!user.user.isLog" class="icon ion-record assertive"></i>
            </label>
            <label class="col col-75">{{user.user.pseudo}} </label>
            <label ng-if="!user.isfriend" class="col col-10">
              <button class="button button-icon ion-plus" ng-click="openFriend(user)"></button>
            </label>
            <label ng-if="user.isfriend" class="col col-10">
              <button class="button button-icon ion-minus" ng-click="openRemoveFriend(user)"></button>
            </label>
          </ion-item>
          <ion-item ng-if="user.isfriend" class="item-accordion"
                    ng-repeat="info in user.info"
                    ng-show="isUserShown(user)" 
                    ng-click="infoWindow(info)" 
                    ng-class="{active: isInfoShown(info)}">
            {{info.date}}
          </ion-item>
        </div>
        <ion-item menu close ng-if="$storage.isProfilView" class="row">
          <label class="item-input col col-90">
            <input type="search" id="search-profil" placeholder="Search a date" ng-model="$storage.dataSearch.search" ng-focus="$storage.searchFocused = true" ng-blur="$storage.searchFocused = false" ng-change="onSearchInputProfil($storage.dataSearch)" class="full-width" close>
          </label>
          <label class="item-input col col-10">
            <button ng-if="$storage.dataSearch.search.length" class="button button-icon ion-android-close input-button button-small" ng-click="onSearchCancelProfil($storage.dataSearch)"></button>
          </label>
        </ion-item>
        <div ng-if="$storage.isProfilView">
          <ion-item class="item-stable"
                    ng-click="toggleUInfo()"
                    ng-class="{active: shownUInfo}">
              <!-- <i class="icon" ng-class="isUserShown(user) ? 'ion-minus' : 'ion-plus'"></i> -->
            &nbsp;
            Informations
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="(key,value) in filterUInfo(profillist.user)"
                    ng-show="shownUInfo">
            {{key}} : {{value}}
          </ion-item>
        </div>
        <div ng-if="$storage.isProfilView" ng-repeat="info in profillist.info track by $index">
          <ion-item class="item-stable row row-center"
                    ng-click="toggleInfo(info)"
                    ng-class="{active: isInfoShown(info)}">
            &nbsp;
            <label class="col col-80">{{info.date}}</label><label class="col col-10"><button class="button button-icon ion-trash-a" ng-click="deleteInfo(info)"></button></label>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="(key,value) in filterInfo(info)"
                    ng-show="isInfoShown(info)">
            {{key}} : {{value}}
          </ion-item>
        </div>
             <!--    <ion-infinite-scroll
          ng-if="moreDataCanBeLoaded()"
          distance="10%">
        </ion-infinite-scroll> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


<!--       <ion-item menu close ng-repeat="user in pseudolist" ng-click="getAllCoord(user)">
          {{user.pseudo}}
        </ion-item>
 -->
<!--         
        <ion-searchbar ng-model="search"
            showCancelButton="shouldShowCancel"
            ionInput="onSearchInput($event)"
            ionCancel="onSearchCancel($event)"
            placeholder="Search a friend">
        </ion-searchbar>
         -->