<ion-side-menus enable-menu-with-back-views="false" ng-controller="MenuCtrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark" >
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a ng-show="!btnLogin" class="button button-icon icon ion-log-in" ng-click="openLogin()"></a>
        <a ng-show="btnLogin" class="button button-icon icon ion-log-out" ng-click="openLogout()"></a>
        <a ng-show="btnLogin" class="button button-icon icon ion-plus-round" ng-click="addLocation()"></a>
        <a class="button button-icon icon ion-briefcase" ng-click="showCookies()"></a>
        <a class="button button-icon icon ion-android-locate" ng-click="refreshLoc(true)"></a>
        <a class="button button-icon icon ion-android-settings" ng-click="settings()"></a>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <div ng-repeat="user in userlist track by $index">
          <ion-item class="item-stable"
                    ng-click="toggleUser(user)"
                    ng-class="{active: isUserShown(user)}">
              <!-- <i class="icon" ng-class="isUserShown(user) ? 'ion-minus' : 'ion-plus'"></i> -->
            &nbsp;
            {{user._user.pseudo}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="info in user._info"
                    ng-show="isUserShown(user)">
            {{info.date}}
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


<!--       <ion-item menu close ng-repeat="user in pseudolist" ng-click="getAllCoord(user)">
          {{user.pseudo}}
        </ion-item>
 -->
<!--         <ion-item menu close>
          <input type="search" placeholder="Search..." ng-model="search" ng-focus="searchFocused = true" ng-blur="searchFocused = false" ng-change="scrollTop()" class="full-width" close>
            <button ng-if="search.length" class="button button-icon ion-android-close input-button" ng-click="clearSearch()"></button>
        </ion-item>
        <ion-searchbar menu close ng-model="search"
          showCancelButton="shouldShowCancel"
          ionInput="onInput($event)"
          ionCancel="onCancel($event)">
        </ion-searchbar> -->