<ion-view view-title="Settings">
  <ion-content>
    <ul class="list">
 	  <li class="item">
	     <!-- ligne 221 -->
	    <a class="button button-icon icon ion-briefcase" ng-click="showStorage($event)"></a>
	  </li>
		<div class="item item-divider"> 
		  Settings
		</div>
		<!-- <button ion-button round outline side="rigth">Reload map</button> -->
		<ion-toggle name="item.name" 
					ng-repeat="item in $storage.settingsList"
		            ng-model="item.checked"
		            ng-change="updateItemSettings(item)"
		            ng-checked="item.checked">
		  {{ item.text }}
		</ion-toggle>

<!-- 	  <div class="item range">
	  	<input type="range" name="$storage.mapZoom">
	  	<i class="icon ion-android-search ion-lg"></i>
	  </div>

	  <li class="item item-toggle">
		<label class="item item-input item-select">
		    <div class="input-label">
		      Lightsaber
		    </div>
		    <select>
		      <option>Blue</option>
		      <option selected>Green</option>
		      <option>Red</option>
		    </select>
	  	 </label>
	  </li> -->
	</ul>
  </ion-content>
</ion-view>
