/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
.slide-in-up {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.slide-up-down.ng-enter, .slide-in-up > .ng-enter {
  -webkit-transition: all 0;
  transition: all 0; }

.slide-in-up.g-enter-active, .slide-in-up > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-up.ng-leave, .slide-in-up > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

.fade-in-out.ng-enter, .fade-in-out .ng-enter {
-webkit-animation: fadeIn 0.3s;
-moz-animation: fadeIn 0.3s;
animation: fadeIn 0.3s;
position: absolute; }
.fade-in-out.ng-leave, .fade-in-out .ng-leave {
-webkit-animation: fadeOut 0.3s;
-moz-animation: fadeOut 0.3s;
animation: fadeOut 0.3s;
position: absolute; }

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}